{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>3P Web作成</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>


<body> 
        <!--ヘッダー-->
        <div class="header">
            <div class="header_left">
                <a class="header_icon" href="/"><img class="kydolex_header_log" src="{%static 'img/kydolex_white.png'%}" alt=""></a>
            </div>
            <div class="header_right">
                <a class="header_list" href="{% url 'contact'%}">お問い合わせ</a>
                <a class="header_list" href="{% url 'request'%}">作成依頼</a>
                <a class="header_list" href="{% url 'plan'%}">参考料金</a>
                <a class="header_list" href="{% url 'list'%}">デザイン一覧</a>
                <a class="header_list" href="/">３P作成ホーム</a>
            </div>
    </div> 
    
    <div id="menu">
        <div>
            <a class="header_icon" href="/"><img class="kydolex_header_log" src="{%static 'img/kydolex_white.png'%}" alt=""></a>
            <a href="#menu" class="menuopen"><img class="header_icon_menu" src="{%static 'img/header_line_3.png'%}" alt=""></a>
            <a href="#close" class="menuclose"><img class="header_icon_menu" src="{%static 'img/header_chanel.png'%}" alt=""></a>

            </div>
        <ul>
            <li><a class="header_list" href="/">３P作成ホーム</a></li>
            <li><a class="header_list" href="{% url 'list'%}">デザイン一覧</a></li>
            <li><a class="header_list" href="{% url 'plan'%}">参考料金</a></li>
            <li><a class="header_list" href="{% url 'request'%}">作成依頼</a></li>
            <li><a class="header_list" href="{% url 'contact'%}">お問い合わせ</a></li>
        </ul>
    </div>
    <main>

            <div class="request_first_title">お問い合わせフォーム</div>
            <div class="contact_text">
                下記のアイコンをクリックしていただけるとメール送信フォームに移行します。
                件名と内容を入力してお送りください。
            </div>
            <div class="request_img_first_all">
                <a class="Content_form_img_body" href="mailto:kydolex&#64;gmail.com"><img class="Content_form_img" src="{%static 'img/mail.png'%}" alt=""></a>
                <a class="Content_form_mailadd" href="mailto:kydolex&#64;gmail.com">kydolex&#64;gmail.com</a>
            </div>

    </main>
    

    {% block extra_js %}
        <script>
        </script>
    {% endblock %}
    
    <footer class="footer_all">
        <div class="footer">
            <div class="footer_title">
                <img class="footer_img" src="{%static 'img/Kydolex.full.log.white.png'%}" alt="">
                <div class="footer_title_sub">〜 Make your life more exciting 〜</div>
            </div>
            <div class="footer_text_body">
                <div class="footer_text">
                    <a class="footer_text_text" href="/">企業概要</a>
                    <a class="footer_text_text" href="/">企業代表者</a>
                    <a class="footer_text_text" href="/">企業理念</a>
                    <a class="footer_text_text" href="/">事業内容</a>
                    <a class="footer_text_text" href="/">最新情報</a>
                    <a class="footer_text_text" href="/">ギャラリー</a>
                    <a class="footer_text_text" href="/">販売サイト</a>
                    <a class="footer_text_text" href="/">宣伝媒体</a>
                    <a class="footer_text_text" href="/">作成料金</a>
                    <a class="footer_text_text" href="/">作成予約</a>
                    <a class="footer_text_text" href="/">作成相談</a>
                    <a class="footer_text_text" href="/">作成依頼</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
