{% extends "threeWeb/base.html" %}

{% block infomation %}
    {% for infomation in Infomation_data %} 
        <div class="infomation_body">
            <h2 class="infomation_title">{{ infomation.title }}</h2>
            <h5 class="infomation_text">{{ infomation.content }}</h5>
        </div>
    {% endfor %}
{% endblock %}

{% block sample %}
    {% for sample in Sample_data %} 
        <div class="sample_body">
            {% if sample.image %}
            <img class="sample_img" src="{{ sample.image.url }}" alt="">
            {% endif %}
            <h2 class="sample_title">{{ sample.title }}</h2>
        </div>
    {% endfor %}
{% endblock %}
