{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>3P Web作成</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>


<body> 
        <!--ヘッダー-->
        <div class="header">
            <div class="header_left">
                <a class="header_icon" href="/"><img class="kydolex_header_log" src="{%static 'img/kydolex_white.png'%}" alt=""></a>
            </div>
            <div class="header_right">
                <a class="header_list" href="{% url 'contact'%}">お問い合わせ</a>
                <a class="header_list" href="{% url 'request'%}">作成依頼</a>
                <a class="header_list" href="{% url 'plan'%}">参考料金</a>
                <a class="header_list" href="{% url 'list'%}">デザイン一覧</a>
                <a class="header_list" href="">３P作成ホーム</a>
            </div>
    </div> 
    
    <div id="menu">
        <div>
            <a class="header_icon" href="/"><img class="kydolex_header_log" src="{%static 'img/kydolex_white.png'%}" alt=""></a>
            <a href="#menu" class="menuopen"><img class="header_icon_menu" src="{%static 'img/header_line_3.png'%}" alt=""></a>
            <a href="#close" class="menuclose"><img class="header_icon_menu" src="{%static 'img/header_chanel.png'%}" alt=""></a>

            </div>
        <ul>
            <li><a class="header_list" href="/">３P作成ホーム</a></li>
            <li><a class="header_list" href="{% url 'list'%}">デザイン一覧</a></li>
            <li><a class="header_list" href="{% url 'plan'%}">参考料金</a></li>
            <li><a class="header_list" href="{% url 'request'%}">作成依頼</a></li>
            <li><a class="header_list" href="{% url 'contact'%}">お問い合わせ</a></li>
        </ul>
    </div>
    <main>

        <div class="plan_page_title">料金プラン一覧</div>

        <div class="planForm_all">
            <div class="planForm_body">
                <div class="plan_text_box">
                    <h3 class="plan_rate_title">1ページWeb作成</h3>
                    <h5 class="plan_rate_ex">
                        １ページだけのWeb作成です。Webデザインからドメイン取得とQRコードの発行までを行います。
                        Webイメージ、必須項目６個、任意の画像を６個まで記載することが可能です。
                        サーバーはバルチャーを使います。URLもお好きなものにすることができます。<br>
                        お申し込み頂いて公開をしましたらメールにてURLとQRコードの通知をいたします。
                        Webの公開期間は１年です。公開日から10ヶ月〜12ヶ月のうちに更新についてのメールを送信します。
                        公開日をメールで通知してから１年をすぎると自動更新の手数料２万円がかかりますのでご注意ください。
                    </h5>
                    <h3 class="plan_rate">35000円</h3>
                </div>
                <img class="plan_img_scr"  src="{%static 'img/1P_plan_scr.png'%}" alt="">
            </div>

            <div class="planForm_body">
                <div class="plan_text_box">
                    <h3 class="plan_rate_title">2ページWeb作成</h3>
                    <h5 class="plan_rate_ex">
                        2ページだけのWeb作成です。Webデザインからドメイン取得とQRコードの発行までを行います。
                        Webイメージ、必須項目12個、任意の画像を12個まで記載することが可能です。
                        サーバーはバルチャーを使います。URLもお好きなものにすることができます。<br>
                        お申し込み頂いて公開をしましたらメールにてURLとQRコードの通知をいたします。
                        Webの公開期間は１年です。公開日から10ヶ月〜12ヶ月のうちに更新についてのメールを送信します。
                        公開日をメールで通知してから１年をすぎると自動更新の手数料２万円がかかりますのでご注意ください。
                    </h5>
                    <h3 class="plan_rate">45000円</h3>
                </div>
                <img class="plan_img_scr"  src="{%static 'img/2P_plan_scr.png'%}" alt="">
            </div>

            <div class="planForm_body">
                <div class="plan_text_box">
                    <h3 class="plan_rate_title">3ページWeb作成</h3>
                    <h5 class="plan_rate_ex">
                        3ページだけのWeb作成です。Webデザインからドメイン取得とQRコードの発行までを行います。
                        Webイメージ、必須項目18個、任意の画像を18個まで記載することが可能です。
                        サーバーはバルチャーを使います。URLもお好きなものにすることができます。<br>
                        お申し込み頂いて公開をしましたらメールにてURLとQRコードの通知をいたします。
                        Webの公開期間は１年です。公開日から10ヶ月〜12ヶ月のうちに更新についてのメールを送信します。
                        公開日をメールで通知してから１年をすぎると自動更新の手数料２万円がかかりますのでご注意ください。
                    </h5>
                    <h3 class="plan_rate">55000円</h3>
                </div>
                <img class="plan_img_scr"  src="{%static 'img/3P_plan_scr.png'%}" alt="">
            </div>

            <div class="planForm_body">
                <div class="plan_text_box">
                    <h3 class="plan_rate_title">レスポンシブ対応</h3>
                    <h5 class="plan_rate_ex">
                        レスポンシブ対応とは様々なデバイス（iPhoneやタブレット）にWebのサイズを調整することです。
                        今の時代どのWebサイトにもレスポンシブ対応はついています。<br>
                        ３P Web作成の通常ではノートパソコンのサイズ（1280px）を基準にWeb作成をしていますが、
                        レスポンシブ対応ではスマホやタブレット、デスクトップパソコンなどにも
                        対応するようにデザイン、コーディングをします。<br>
                        PC以外でWebを閲覧する方がいる場合はレスポンシブ対応を
                        推奨させて頂いています。
                    </h5>
                    <h3 class="plan_rate">5000円</h3>
                </div>
                <img class="plan_img_scr"  src="{%static 'img/3P_responsive.png_scr.png'%}" alt="">
            </div>

            <div class="planForm_body">
                <div class="plan_text_box">
                    <h3 class="plan_rate_title">フッター作成</h3>
                    <h5 class="plan_rate_ex">
                        フッターとはWebサイトの一番下にある項目です。<br>
                        ３P Web作成の通常ではフッターを「３P Web デザイン from Kydolex ©︎ 作成者 作成日」としています。
                        しかし、フッターに企業のロゴやサイトマップ、
                        SNSやHP等のリンクを載せたい方もいると思うのでオプションでつけることが可能です。
                    </h5>
                    <h3 class="plan_rate">3000円</h3>
                </div>
                <img class="plan_img_scr"  src="{%static 'img/3P_footer_scr.png'%}" alt="">
            </div>

            <div class="planForm_body">
                <div class="plan_text_box">
                    <h3 class="plan_rate_title">イメージ画像作成</h3>
                    <h5 class="plan_rate_ex">
                        3P Web作成のWebにも登場しているイラストですか、希望のイメージをお伝えいただければ作成可能です。<br>
                        参考写真が無い場合、ポップなイメージでWebを作りたい場合などに最適なオプションです。
                        イラストは全て3P Web作成のデザイナーが作るので配布した画像は商用フリーです。
                        <br>
                        作成したイラストは公開通知のメールと同時に配布させていただきます。
                        
                    </h5>
                    <h3 class="plan_rate">3000円</h3>
                </div>
                <img class="plan_img_scr"  src="{%static 'img/3P_image_scr.png'%}" alt="">
            </div>


            <div class="planForm_body">
                <div class="plan_text_box">
                    <h3 class="plan_rate_title">１項目追加</h3>
                    <h5 class="plan_rate_ex">
                        3P Web作成ではWeb作成のページ数によって項目の個数に制限があります。<br>
                        項目が多い求人サイトや商品サイトでは有効なオプションです。
                        例えば２ページの作成依頼で項目が12個では足りないということでしたら１項目3000円で追加で作成します。
                    </h5>
                    <h3 class="plan_rate">3000円</h3>
                </div>
                <img class="plan_img_scr"  src="{%static 'img/3P_plus_one_scr.png'%}" alt="">
            </div>

        </div>


    </main>
    

    {% block extra_js %}
        <script>
        </script>
    {% endblock %}
    
    <footer class="footer_all">
        <div class="footer">
            <div class="footer_title">
                <img class="footer_img" src="{%static 'img/Kydolex.full.log.white.png'%}" alt="">
                <div class="footer_title_sub">〜 Make your life more exciting 〜</div>
            </div>
            <div class="footer_text_body">
                <div class="footer_text">
                    <a class="footer_text_text" href="/">企業概要</a>
                    <a class="footer_text_text" href="/">企業代表者</a>
                    <a class="footer_text_text" href="/">企業理念</a>
                    <a class="footer_text_text" href="/">事業内容</a>
                    <a class="footer_text_text" href="/">最新情報</a>
                    <a class="footer_text_text" href="/">ギャラリー</a>
                    <a class="footer_text_text" href="/">販売サイト</a>
                    <a class="footer_text_text" href="/">宣伝媒体</a>
                    <a class="footer_text_text" href="/">作成料金</a>
                    <a class="footer_text_text" href="/">作成予約</a>
                    <a class="footer_text_text" href="/">作成相談</a>
                    <a class="footer_text_text" href="/">作成依頼</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
