{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>3P Web作成</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>


<body> 
        <!--ヘッダー-->
        <div class="header">
            <div class="header_left">
                <a class="header_icon" href="/"><img class="kydolex_header_log" src="{%static 'img/kydolex_white.png'%}" alt=""></a>
            </div>
            <div class="header_right">
                <a class="header_list" href="{% url 'contact'%}">お問い合わせ</a>
                <a class="header_list" href="{% url 'request'%}">作成依頼</a>
                <a class="header_list" href="{% url 'plan'%}">参考料金</a>
                <a class="header_list" href="{% url 'list'%}">デザイン一覧</a>
                <a class="header_list" href="">３P作成ホーム</a>
            </div>
    </div> 
    
    <div id="menu">
        <div>
            <a class="header_icon" href="/"><img class="kydolex_header_log" src="{%static 'img/kydolex_white.png'%}" alt=""></a>
            <a href="#menu" class="menuopen"><img class="header_icon_menu" src="{%static 'img/header_line_3.png'%}" alt=""></a>
            <a href="#close" class="menuclose"><img class="header_icon_menu" src="{%static 'img/header_chanel.png'%}" alt=""></a>

            </div>
        <ul>
            <li><a class="header_list" href="/">３P作成ホーム</a></li>
            <li><a class="header_list" href="{% url 'list'%}">デザイン一覧</a></li>
            <li><a class="header_list" href="{% url 'plan'%}">参考料金</a></li>
            <li><a class="header_list" href="{% url 'request'%}">作成依頼</a></li>
            <li><a class="header_list" href="{% url 'contact'%}">お問い合わせ</a></li>
        </ul>
    </div>
    <main >

        {% block content %}
        <div>
        <a href="{% url 'request'%}">ホームに戻る</a>
        </div>
        <form enctype="multipart/form-data"  method="POST" action="{% url 'request_next' %}">{% csrf_token %}
            {{ form.title|add_class:'class-name1'}}
            {{ form.text|add_class:'class-name2'}}
            {{ form.image|add_class:'class-name3'}}
            <button type="submit" class="btn">保存</button>
        </form>

        {% endblock %}


            <div class="request_first_title">選択画面</div>
            <div class="input_form_all">
                <div class="short_inputForm"> 
                <label class="short_inputForm_title" for="id_name">Webタイトル</label>
                 <input class="short_inputForm_text" type="text" name="name" maxlength="30" placeholder="Webタイトルを入力してください。(最大30文字)" required="" id="id_name">
                </div>

                <div class="short_inputForm"> 
                    <label class="short_inputForm_title" for="id_name">Webタイトル</label>
                     <textarea class="long_textareaForm_text"
                      type="text" textarea name="name" maxlength="600" cols="40" rows="15"
                       placeholder="Webタイトルを入力してください。(最大600文字)" id="id_name"></textarea>
                </div>

                <div class="short_inputForm"> 
                    <label class="short_inputForm_title" for="id_name">Webタイトル</label>
                    <div class="imgForm_body">
                        <h5 class="sample_number" >1.</h5>
                        <input class="input_imageForm" type="file" name="image" accept="image/jpeg, image/png">
                    </div>
                    <div class="imgForm_body">
                        <h5 class="sample_number" >2.</h5>
                        <input class="input_imageForm" type="file" name="image" accept="image/jpeg, image/png">
                    </div>
                    <div class="imgForm_body">
                        <h5 class="sample_number" >3.</h5>
                        <input class="input_imageForm" type="file" name="image" accept="image/jpeg, image/png">
                    </div>
                </div>
                
                <div class="short_inputForm"> 
                    <label class="short_inputForm_title" for="id_name">Webタイトル</label>

                    <div class="question_box_all">
                        <h5 class="question_title">どれがいいですか？</h5>
                        <div class="question_box_body">
                            <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                        </div>
                        <div class="question_box_body">
                            <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                        </div>
                        <div class="question_box_body">
                            <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                        </div>
                    </div>
                    <div class="question_box_all">
                        <h5 class="question_title">どれがいいですか？</h5>
                        <div class="question_box_body">
                            <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                        </div>
                        <div class="question_box_body">
                            <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                        </div>
                        <div class="question_box_body">
                            <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                        </div>
                    </div>
                    <div class="question_box_all">
                        <h5 class="question_title">どれがいいですか？</h5>
                        <div class="question_box_body">
                            <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                        </div>
                        <div class="question_box_body">
                            <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                        </div>
                        <div class="question_box_body">
                            <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                        </div>
                    </div>
                    <div class="question_box_all">
                        <h5 class="question_title">どれがいいですか？</h5>
                        <div class="question_box_body">
                            <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                        </div>
                        <div class="question_box_body">
                            <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                        </div>
                        <div class="question_box_body">
                            <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                        </div>
                    </div>

                </div>
                
                <div class="short_inputForm"> 
                    <label class="short_inputForm_title" for="id_name">Webタイトル</label>

                        <div class="question_box_all_width">
                            <h5 class="question_title_width">どれがいいですか？</h5>
                                <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                                <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                                <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                        </div>
                        <div class="question_box_all_width">
                            <h5 class="question_title_width">どれがいいですか？</h5>
                                <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                                <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                                <input class="question_box" type="radio" name="q1" value="はい"><h5 class="question_text">はい</h5> 
                        </div>

                </div>

            </div>
    </main>
    

    {% block extra_js %}
        <script>
        </script>
    {% endblock %}
    
    <footer class="footer_all">
        <div class="footer">
            <div class="footer_title">
                <img class="footer_img" src="{%static 'img/Kydolex.full.log.white.png'%}" alt="">
                <div class="footer_title_sub">〜 Make your life more exciting 〜</div>
            </div>
            <div class="footer_text_body">
                <div class="footer_text">
                    <a class="footer_text_text" href="/">企業概要</a>
                    <a class="footer_text_text" href="/">企業代表者</a>
                    <a class="footer_text_text" href="/">企業理念</a>
                    <a class="footer_text_text" href="/">事業内容</a>
                    <a class="footer_text_text" href="/">最新情報</a>
                    <a class="footer_text_text" href="/">ギャラリー</a>
                    <a class="footer_text_text" href="/">販売サイト</a>
                    <a class="footer_text_text" href="/">宣伝媒体</a>
                    <a class="footer_text_text" href="/">作成料金</a>
                    <a class="footer_text_text" href="/">作成予約</a>
                    <a class="footer_text_text" href="/">作成相談</a>
                    <a class="footer_text_text" href="/">作成依頼</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>